[Unit]
Description=BitFinite Node Daemon
After=network.target

[Service]
User=bitcoin
Group=bitcoin

Type=forking
PIDFile=/var/lib/bitfinite/bitfinited.pid
ExecStart=/usr/bin/bitfinited -daemon -pid=/var/lib/bitfinite/bitfinited.pid \
-conf=/etc/bitfinite/bitfinite.conf -datadir=/var/lib/bitfinite -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
